extends ../layout

block content

  h1 gTables


  if restaurants
    table.table.table-striped
     tbody
       for restaurant in restaurants
         tr
           td= restaurant.name
           td
            img(src=''+restaurant.image+'')
           td= restaurant.cuisine
           td= restaurant.city
           td= restaurant.state
           td= restaurant.rating
           
           
