extends ../layout

block content
  h1.neighborhoodTitle #{neighborhoods.name}
  div.neighborhoodShow
    .indvMap
      div(id='map#{neighborhoods.id}' class='maps')
      script.
        var map#{neighborhoods.id};
        function initMap#{neighborhoods.id}() {
          map#{neighborhoods.id} = new google.maps.Map(document.getElementById('map#{neighborhoods.id}'), {
            center:  {lat: #{neighborhoods.latitude}, lng: #{neighborhoods.longitude}},
            zoom: 14
          });
        }
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_AEJoor25uoZy70X3iaMELWOJe14n8HE&callback=initMap#{neighborhoods.id}")
    .neighRight
      h3 #{neighborhoods.epicenter}
      br
      .showButtons
        button.editShow(type='edit'): a(href='/neighborhoods/#{neighborhoods.id}/edit') Edit
        button.deleteShow(type='delete'): a(href='/neighborhoods/#{neighborhoods.id}/delete') Delete
