extends ../layout

block content
  h1 Neighborhoods
    .link
      a(href='/neighborhoods/new') New 
      a.home(href='/restaurants'):  i.fa.fa-home
  if neighborhoods
    for neighborhood in neighborhoods
      div(class="allMaps")
        h3: a(href='/neighborhoods/'+neighborhood.id+'')= neighborhood.name
        div(id='map#{neighborhood.id}' class='maps')
      script.
        var map#{neighborhood.id};
        function initMap#{neighborhood.id}() {
          map#{neighborhood.id} = new google.maps.Map(document.getElementById('map#{neighborhood.id}'), {
            center: {lat: #{neighborhood.latitude}, lng: #{neighborhood.longitude}},
            zoom: 14
          });
        }
        
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_AEJoor25uoZy70X3iaMELWOJe14n8HE&callback=initMap#{neighborhood.id}")

          
          
