extends ../layout
  
block content 
  if restaurants
    h1= restaurants.name
    .showMainContainer
      .leftShowPg
        img(src=''+restaurants.image+'')
        br
        br
        br
        br
        br
        .restaurantListAdmin
          button.showButtons.addEmp: a(href='/restaurants/'+restaurants.id+'/employees/new') Add Employee
          table
            thead
              tr
                th First Name 
                th Last Name
                th Position
            for employee in employees 
              if employee.restaurants_id == restaurants.id
                tbody
                  tr
                    td= employee.first_name
                    td= employee.last_name
                    td= employee.position
      .rightShowPg
        p= restaurants.cuisine
        p= 'Located in ' + restaurants.city + ', ' + restaurants.state  
        br
        if restaurants.bio     
          p= restaurants.bio
        else 
          p= 'There is no bio for this restaurant.'
        br
        p.showRating Rating: 
          -for(var i=0; i<restaurants.rating; i++)
            img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
        br
        .showButtons
          button.editShow(type='edit'): a(href='/restaurants/'+restaurants.id+'/edit') Edit
          button.deleteShow(type='delete'): a(href='/restaurants/'+restaurants.id+'/delete') Delete
          button.addReviewShow(type='delete'): a(href='/restaurants/'+restaurants.id+'/reviews/new') Add Review
        br
        br
        .reviewBox
          table
              for review in reviews
                thead
                  tr
                    th= review.name
                    th.floatRight= review.date
                tbody
                  tr
                    td= review.review
                  tr
                    td.showRating
                      -for(var i=0; i<restaurants.rating; i++)
                        img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
                    td.floatRight: a(href='/restaurants/'+restaurants.id+'/reviews/'+review.id+'/edit') Edit
                  
