extends ../layout
  
block content 
  if restaurants
    h1= restaurants.name
      .link.linkShow
        a(href='/restaurants'): i.fa.fa-home
      if logged_in 
        .link
          a(href='/admin/log-out') Log Out   
    .showMainContainer
      .leftShowPg
        img(src=''+restaurants.image+'')
        br
        br
        br
        br
        br
        if logged_in
          .restaurantListAdmin
            button.showButtons.addEmp: a(href='/restaurants/'+restaurants.id+'/employees/new') Add Employee
            table.empTable
              thead
                tr
                  th First Name 
                  th Last Name
                  th Position
              for employee in employees 
                if employee.restaurants_id == restaurants.id
                  tbody
                    tr
                      td: a(href='/restaurants/'+restaurants.id+'/employees/'+employee.id+'/edit')= employee.first_name
                      td= employee.last_name
                      td= employee.position
      .rightShowPg
        p= restaurants.cuisine
        p= 'Located in ' + restaurants.city + ', ' + restaurants.state  
        br
        if restaurants.bio     
          p= restaurants.bio
        else 
          p= 'There is no bio for this restaurant.'
        br
        p.showRating Rating: 
          -for(var i=0; i<restaurants.rating; i++)
            img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
        br
        .showButtons
          button.editShow(type='edit'): a(href='/restaurants/'+restaurants.id+'/edit') Edit
          button.deleteShow(type='delete'): a(href='/restaurants/'+restaurants.id+'/delete') Delete
          button.addReviewShow(type='delete'): a(href='/restaurants/'+restaurants.id+'/reviews/new') Add Review
        br
        br
        .reviewBox
          for review in reviews
            table.reviewTable
                thead
                  tr
                    th= review.name
                    th.floatRight= review.date
                tbody
                  tr
                    td= review.review
                    td 
                  tr
                    td.showRating
                      -for(var i=0; i<review.rating; i++)
                        img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
                    td.floatRight: a(href='/restaurants/'+restaurants.id+'/reviews/'+review.id+'/edit') Edit
                  
